.level {
    border: 1px solid #303aff;
    min-height: 500px;
    max-height: 800px;
    padding: 5px;
    margin: 5px;
}

.content {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 1px solid #ff5b58;
}

.stories {
    float: left;
    border: 1px solid #ffb852;
    max-height: 500px;
}

.story {
    background: #ff5b58;
    width: 260px;
    height: 380px;
    padding: 5px;
    margin: 2px;
    border: 2px solid #191dff;
    position: relative;
    float: left;
}

.storyButtons {
    height: auto;
    margin: 2px;
    width: 35px;
    border: 1px solid #191dff;
    float: right;
    position: relative;
}

.storyButton {
    margin: 2px;
}
